/* ----------------------------------------------------------------------------------------------------------------------------------------------------------
 * LAYOUT
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
body {
    min-width: 1290px;
}
.site_container {
    
}
.container {
    max-width: 1920px;
}
footer {

}
    footer .footer_container {
        max-width: 1920px;
    }
    .footer_right {
        
    }
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------
 * INDEX PAGE
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------- */