/* ----------------------------------------------------------------------------------------------------------------------------------------------------------
 * LAYOUT
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
body {
    width: 1310px;
}
.site_container {
    
}
.container {
    max-width: 1310px;
}
footer {

}
    footer .footer_container {
        max-width: 1310px;
    }
    .footer_right {
        
    }